@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "Microsoft Yahei"; }

body, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, dd, p, textarea, input, select, option, form {
  margin: 0;
  padding: 0; }

body {
  background: #f5f4f0;
  -webkit-tap-highlight-color: transparent; }

ol, ul, textarea, input, option, th, td {
  padding: 0; }

.page {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  list-style-type: none; }

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

input[type=text], textarea {
  -webkit-appearance: none; }

input:focus {
  -webkit-user-modify: read-write-plaintext-only; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none; }

a, textarea, input {
  outline: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

@media only screen and (min-width: 320px) {
  html {
    font-size: 75% !important;
    /* 12梅16=73.4% */ } }
@media only screen and (min-width: 375px) {
  html {
    font-size: 87.89063% !important;
    /* 14.0625梅16=73.2% */ } }
@media only screen and (min-width: 414px) {
  html {
    font-size: 97.03% !important;
    /* 15.525梅16=94% */ } }
@media only screen and (min-width: 480px) {
  html {
    font-size: 112.5% !important;
    /* 18梅16=94% */ } }
@media only screen and (min-width: 560px) {
  html {
    font-size: 131.25% !important;
    /* 21梅16=109% */ } }
@media only screen and (min-width: 640px) {
  html {
    font-size: 150% !important;
    /* 24梅16=125% */ } }
@media only screen and (min-width: 720px) {
  html {
    font-size: 168.75% !important;
    /* 27梅16=146.43% */ } }
@media only screen and (min-width: 750px) {
  html {
    font-size: 175.78125% !important;
    /* 28.125梅16=146.43% */ } }
@media only screen and (min-width: 800px) {
  html {
    font-size: 187.5% !important;
    /* 30梅16=146.43% */ } }
@media only screen and (min-width: 960px) {
  html {
    font-size: 225% !important;
    /* 36梅16=146.43% */ } }
footer {
  width: 100%;
  height: 4.16667rem;
  background: #484850;
  display: flex;
  color: #fff; }
  footer div {
    padding-top: 0.75rem;
    box-sizing: border-box; }
    footer div span {
      text-align: center;
      display: block;
      width: 100%;
      height: 2rem;
      font-size: 2rem !important; }
    footer div p {
      width: 100%;
      height: 2.08333rem;
      font-size: 0.95833rem;
      text-align: center; }
  footer div:nth-of-type(1) {
    flex: 1; }
  footer div:nth-of-type(2) {
    flex: 1; }
  footer div:nth-of-type(3) {
    flex: 1; }
  footer div:nth-of-type(4) {
    flex: 1; }
  footer div:nth-of-type(5) {
    flex: 1; }

.active {
  color: #db1b57 !important; }

/*# sourceMappingURL=foot.css.map */
