@function pxToRem($px, $base: 24) {
  @return ($px / $base) * 1rem;
}
$ff:'Microsoft Yahei';
html {
   font-size: 62.5%; 
    font-family:$ff; 
}
body,h1,h2,h3,h4,h5,h6,blockquote,ol,ul,dl,dd,p,textarea,input,select,option,form {
    margin:0; padding:0;
}
body{
    background: #f5f4f0;
    -webkit-tap-highlight-color:transparent;
}
 
ol,ul,textarea,input,option,th,td {
    padding:0;
}

.page{
    min-width: 320px;max-width: 750px;margin: 0 auto;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size:100%;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}
table {
    border-collapse:collapse;border-spacing: 0;
}
ul,ol {
    list-style-type:none;
}
.clearfix:after {
    content:'.';display:block;height:0;clear:both;visibility:hidden;
}

.clear {
    clear:both;height:0;overflow:hidden;
}

input[type=text],textarea{
    -webkit-appearance:none;
}
input:focus{
    -webkit-user-modify:read-write-plaintext-only;
}
fieldset, img {
    border: 0;
}
a {
    text-decoration:none;
}
a,textarea,input{
    outline:none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
textarea {
    overflow:auto;resize:none;
}

@media only screen and (min-width: 320px){
    html {
        font-size: 75%!important; 
    }
}
@media only screen and (min-width: 375px){
    html {
        font-size: 87.890625%!important; 
    }
}
@media only screen and (min-width: 414px){
    html {
        font-size: 97.03%!important; 
    }
}
@media only screen and (min-width: 480px){
    html {
        font-size: 112.5%!important; 
    }
}
@media only screen and (min-width: 560px){
    html {
        font-size: 131.25%!important;
    }
}
@media only screen and (min-width: 640px){
    html {
        font-size: 150%!important; 
    }
}
@media only screen and (min-width: 720px){
    html {
        font-size: 168.75%!important; 
    }
}
@media only screen and (min-width: 750px){
    html {
        font-size: 175.78125%!important; 
    }
}
@media only screen and (min-width: 800px){
    html {
        font-size: 187.5%!important;
    }
}
@media only screen and (min-width: 960px){
    html {
        font-size: 225%!important; 
    }
}
.header{
    background:#e4366b;
    width:100%;
    height: pxToRem(86);
    color:#fff;
    border-bottom:pxToRem(1) solid #000;
    font-size: pxToRem(40);
    line-height: pxToRem(86);
    text-align: center;
    position:relative;

    a{  position:absolute;
        left: pxToRem(18);
        top:pxToRem(33);
        display: block;
        width: pxToRem(52);
        height: pxToRem(35);
        background:url(../images/back.png) left center no-repeat; 
        background-size:pxToRem(50) pxToRem(36);
    }

}
#wrapper {
    position:absolute;
    z-index:1;
   
    top:pxToRem(88);
    bottom:pxToRem(100);
    
    width:100%;
    background:#fff;
    overflow:auto;
}

#scroller {
    position:absolute;
    z-index:1;

    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding:0;
}
#scroller ul {
    list-style:none;
    
}

#scroller  li {
    width: 100%;
    height: pxToRem(220);
    font-size: pxToRem(27);
    padding:pxToRem(20) pxToRem(52) pxToRem(20) pxToRem(14);
    border-bottom:pxToRem(1) solid #ccc;
    dl {
        display: flex;
         dt{
     
        width: pxToRem(172);
        height: pxToRem(172);
        border:pxToRem(1) solid #ddd;
    }
    dd{
        position:relative;
        width: pxToRem(399);
        height: pxToRem(172);
        box-sizing:border-box;
        padding:pxToRem(12) 0 pxToRem(12) pxToRem(15) ;
        p{
           position:relative;
           input{
                width: pxToRem(76);
                height: pxToRem(45);
                border-radius:pxToRem(10);
                position:absolute;
                left: pxToRem(167);
                top: pxToRem(0);
           }
           a{
            display: block;
            width: pxToRem(136);
            height: pxToRem(58);
            line-height: pxToRem(58);
            text-align: center;
            color:#fff;
            position:absolute;
            right: 0;
            bottom:0;
            border-radius:pxToRem(15);
            background:-webkit-linear-gradient(top,#f65f88 30%,#d91253 70%);
           }
           
        }
        b{
            font-size: pxToRem(32);
            color:#f15b88;
        }
        span{
            position:absolute;
            right: 0;
            top:0;
            display: block;
            width: pxToRem(28);
            height: pxToRem(34);
           
           
        }
        
    }
}   
}
#foot{
    width: 100%;
    height:pxToRem(100);   
    position: fixed; 
    bottom:0;
}