html {
  font-size: 62.5%;
  font-family: "Microsoft Yahei"; }

body, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, dd, p, textarea, input, select, option, form {
  margin: 0;
  padding: 0; }

body {
  background: #f5f4f0;
  -webkit-tap-highlight-color: transparent; }

ol, ul, textarea, input, option, th, td {
  padding: 0; }

.page {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  list-style-type: none; }

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

input[type=text], textarea {
  -webkit-appearance: none; }

input:focus {
  -webkit-user-modify: read-write-plaintext-only; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none; }

a, textarea, input {
  outline: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

@media only screen and (min-width: 320px) {
  html {
    font-size: 75% !important; } }
@media only screen and (min-width: 375px) {
  html {
    font-size: 87.89063% !important; } }
@media only screen and (min-width: 414px) {
  html {
    font-size: 97.03% !important; } }
@media only screen and (min-width: 480px) {
  html {
    font-size: 112.5% !important; } }
@media only screen and (min-width: 560px) {
  html {
    font-size: 131.25% !important; } }
@media only screen and (min-width: 640px) {
  html {
    font-size: 150% !important; } }
@media only screen and (min-width: 720px) {
  html {
    font-size: 168.75% !important; } }
@media only screen and (min-width: 750px) {
  html {
    font-size: 175.78125% !important; } }
@media only screen and (min-width: 800px) {
  html {
    font-size: 187.5% !important; } }
@media only screen and (min-width: 960px) {
  html {
    font-size: 225% !important; } }
.header {
  background: #e4366b;
  width: 100%;
  height: 3.58333rem;
  color: #fff;
  border-bottom: 0.04167rem solid #000;
  font-size: 1.66667rem;
  line-height: 3.58333rem;
  text-align: center;
  position: relative; }
  .header a {
    position: absolute;
    left: 0.75rem;
    top: 1.375rem;
    display: block;
    width: 2.16667rem;
    height: 1.45833rem;
    background: url(../images/back.png) left center no-repeat;
    background-size: 2.08333rem 1.5rem; }

section {
  background: #f7f7f7;
  padding: 1.25rem 2.375rem 0 2.375rem; }
  section ul {
    width: 100%;
    border-radius: 0.41667rem;
    border: 0.04167rem solid #ccc;
    margin-bottom: 1.08333rem;
    display: flex; }
    section ul li {
      width: 25%;
      height: 2.66667rem;
      line-height: 2.66667rem;
      text-align: center;
      font-size: 1.33333rem;
      font-weight: 400;
      border-right: 0.04167rem solid #ccc;
      background: -webkit-linear-gradient(top, #f4f4f4 30%, #cecece 70%); }
    section ul li:last-child {
      border: none; }
    section ul .select {
      color: #fff;
      background: -webkit-linear-gradient(top, #f35381 30%, #da1a56 70%); }
  section div {
    width: 100%;
    background: #fff;
    border-radius: 0.41667rem; }
    section div p {
      width: 100%;
      height: 1.66667rem;
      line-height: 1.66667rem; }
      section div p b {
        font-weight: normal; }

#foot {
  width: 100%;
  height: 4.16667rem;
  position: fixed;
  bottom: 0; }
  #foot .active {
    color: #db1b57 !important; }

/*# sourceMappingURL=youhui.css.map */
