*{
	margin: 0;
	padding: 0;
}	
ul,ol{
	list-style: none;
}		
body{
	background: #ccc;
}

.reg-top{
		width:100%;
		border-bottom:1px solid #282828;
		background:#e4366b;
		box-sizing:border-box;
		height:.86rem;
		}
.reg-top a{
			display:block;
			width:.51rem;
			height:.34rem;
			margin-top:.3rem;
			float:left;
			margin-left:.2rem;
			background:url(../img/zjt.jpg) 0 0 no-repeat;
			background-size:.52rem .34rem;
		}
.reg-top h2{
			height:.86rem;
			line-height:.86rem;
			font-size:.38rem;
			display:block;
			float:left;
			color:#fff;
			margin-left:2.08rem;
			font-family: "微软雅黑";
		}
.reg-top button{
			width:1.08rem;
			height:.54rem;
			line-height:.54rem;
			border-radius:.1rem;
			text-align:center;
			margin-top:.15rem;
			margin-right:.2rem;
			font-size:.22rem;
			display:block;
			border: 0;
			float:right;
			color:#fff;
			font-family: "微软雅黑";
			background: -webkit-linear-gradient(top,#f8618a,#d91351);
		}
	

.reg-bt{
	width: 100%;
	padding: 0.1rem 0.4rem 0 0.4rem;
	box-sizing: border-box;
	
}
.username,.pass,.repass{
	margin-top: 0.5rem;
	width: 5.6rem;
	height: 0.8rem;
	background: #fff;
	display: block;
	border: 0;
	outline: none;
	font-size: 0.36rem;
	font-weight: 300;
	border-radius: 10px;
	font-family: "微软雅黑";
	padding-left: 0.25rem;
	box-sizing: border-box;
	
}

.btn-reg{
	display: block;
	width: 5.6rem;
	height: 0.9rem;
	margin-top: 0.64rem;
	font-size: 0.36rem;
	font-weight: 300;
	border-radius: 10px;
	font-family: "微软雅黑";
	color: #fff;
	text-align: center;
	line-height: 0.9rem;
	text-decoration: none;
	background: -webkit-linear-gradient(top,#f8618a,#d91351);
}

.alertBox {
                position: absolute;
                width: 4rem;
                height: 200px;
                margin: auto;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(123, 123, 123, 0.5);
                border: 1px solid #ccc;
                border-radius: 5px;
                display: none;
        }


.alertBox  p {
            color: #fff;
            font-size: 20px;
            margin: 10px;
            text-align: center;
            line-height: 30px;
   }


.alertBox span {
            background-color: #4abc92;
            width: 120px;
            height: 40px;
            border-radius: 5px;
            color: #fff;
            font-size: 25px;
            line-height: 40px;
            text-align: center;
            display: block;
            float: left;
            margin: 40px 40px;
            cursor: pointer;
        }
