@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
body{
	background:#f6f5f5;
	header{
		a{
			display: block;
			position: absolute;
			text-decoration: none;
			color: #fff;
		}
		a:nth-of-type(1){
			left:24px;
		}
		a:nth-of-type(2){
			right:24px;top:22px;
			width:40px;height:40px;
			background:url(../img/wo.png) no-repeat;
		}
		width:100%;
		height:90px;
		text-align: center;
		line-height: 90px;
		font-size:32px;
		color: #fff;
		background:#dc0a4b url(../img/location.png) 372px 32px no-repeat;
	}
/*-----------------------------mine--------------------------------------------------*/ 
	section{
		width:100%;
		position:absolute;
		top:90px;
		bottom:90px;
		overflow-y:auto;
		.wrapper{
			position: absolute;
			#myswiper{
				width:100%;height:212px;
				.slide1{
					background:pink;
				}
				.slide2{
					background:deeppink;
				}
				.slide3{
					background:yellow;
				}
				.slide4{
					background:green;
				}
			}
			.list{
				height:272px;padding-left:45px;
				ul{
					width: 100%;height:100%;
					list-style-type: none;
					li{
						float: left;
						margin-top:16px;
						margin-right: 48px;
						width:100px;
						height: 120px;
						dl{
							width: 100%;height:100%;
							dt{
								width:84px;height:84px;
								border-radius: 50%;
								margin:0 auto;
								background:deeppink url(../img/wanju.png) 18px 30px no-repeat;
							}
							dd{
								font-size: 22px;line-height:32px;text-align:center;
							}
						}
					}
				}
			}
			.hot-active{
				width:100%;
				height: 380px;			
				h3{
					height: 52px;
					font-size: 24px;
					line-height: 64px;
					text-indent: 24px;
				}
				.wrapper{
					width:592px;height:328px;
					margin:0 auto;
					ul{
						list-style: none;
						// display: flex;
						// justify-content: space-between;
						// align-items:space-between;
						// flex-wrap: wrap;
						li{
							border:1px solid #b5b5b6;
							float: left;
							width:282px;height:98px;background:yellow;
						}
						
						li:nth-of-type(3),li:nth-of-type(4){
							margin-top:14px;margin-bottom:14px;
						}
						li:nth-of-type(odd){
							margin-right:24px;
						}
					}
				}
			}
			.shangjia{
				width: 100%;height:520px;
				h3{
					height: 52px;
					font-size: 24px;
					line-height: 64px;
					text-indent: 24px;
				}
				ul{
					width:100%;height:468px;
					list-style: none;
					li{
						float: left;
						width: 180px;height:126px;
						background:pink;
						margin:12px 13px;
					}
				}
			}
		}
	}
}

