@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
body{
	background:#f6f5f5;
	header{
		width:100%;
		height:90px;
		background: #dc0a4b;
		text-align: center;
		line-height: 90px;
		font-size:32px;
		color: #fff;
		a{
			display: block;position:absolute;left:22px;top:22px;
			width:21px;height:38px;
			background:url(../img/back.png) no-repeat;
		}
	}
/*-----------------------------mine--------------------------------------------------*/ 
	section{
		p{
			margin:34px auto 0;
			width:600px;height:64px;
			background:#fff;
			span{
				display: inline-block;
				float: left;
				width:62px;height:64px;
				background:url(../img/phone.png)  34px 12px no-repeat;
			}
			input{
				height:64px;border:0;width:532px;text-indent:14px;
				font-size: 24px;line-height:64px;color:#b5b5b5;
			}
		}
		p:nth-of-type(2){
			span{
				background:url(../img/suo.png)  34px 12px no-repeat;
			}
		}
		.btn{
			width:338px;height:130px;margin:42px auto 0;
			button{
				box-shadow:2px 2px 5px #000;border:0;
				width:338px;height:60px;background:#00a0e9;
				color:#fff;text-align:center;line-height:60px;
				font-size: 24px;
			}
			a{
				line-height: 60px;
				text-decoration: none;
			}
		}
	}
	.footer{
		position:absolute;bottom:0;
		font-size: 30px;
		line-height: 70px;
		right: 30px;
	}
}

