@import "mobile";
@mixin radius($px1){
  -webkit-border-radius:$px1;
  -moz-border-radius:$px1;
  -ms-border-radius:$px1;
  -o-border-radius:$px1;
  border-radius:$px1;
}
@mixin bor($b){
  box-sizing:$b;
  -webkit-box-sizing:$b;
  -moz-box-sizing:$b;
  -ms-box-sizing:$b;
  -o-box-sizing:$b;
}
html,body{
  width: 100%;
  height: 100%;
  background: #f6f5f5;
}
header{
  width: 100%;
  height: pxToRem(88);
  background: #dc0a4b;
  color: #FFFFFF;
  line-height: pxToRem(88);
  .header-left{
    float: left;
    font-size: pxToRem(38);
    height: pxToRem(88);
    margin-left: pxToRem(25);
  }
  h3{
    float: left;
    font-size: pxToRem(28);
    height: pxToRem(88);
    text-align: center;
    width: pxToRem(510);
  }
  .header-right{
    float: right;
    font-size: pxToRem(22);
    height: pxToRem(88);
    margin-right: pxToRem(22);
  }
}
section{
  width: 100%;
  height: pxToRem(1010);
  background: #f6f5f5;
  div{
    width: pxToRem(600);
    height: pxToRem(65);
    background: #FFFFFF;
    margin: pxToRem(37) auto 0;
    @include radius(pxToRem(5));
    @include bor(border-box);
    display: flex;
    display: -webkit-flex;
    padding-left: pxToRem(35);
    align-items: center;
    input{
      width: pxToRem(520);
      height: 100%;
      border: 0;
      font-size: pxToRem(24);
      color: #AAAAAA;
    }
  }
  div:nth-child(1) img{
    display: inline-block;
    width: pxToRem(27);
    height: pxToRem(39);
    margin-right: pxToRem(19);
  }
  div:nth-child(2) img{
    display: inline-block;
    width: pxToRem(24);
    height: pxToRem(30);
    margin-right: pxToRem(20);
  }
  p{
    border: 0;
    width: pxToRem(335);
    height: pxToRem(64);
    background: #00a0e9;
    color: #FFFFFF;
    text-align: center;
    line-height: pxToRem(64);
    font-size: pxToRem(28);
    @include radius(pxToRem(6));
    margin: pxToRem(44) auto pxToRem(20);
    box-shadow:1px 1px 0 1px #005072;
  }
  a{
    display: block;
    width: pxToRem(335);
    height: pxToRem(64);
    color: #00a0e9;
    line-height: pxToRem(64);
    font-size: pxToRem(28);
    margin: 0 auto;
  }
}
footer{
  position: absolute;
  right: pxToRem(24);
  bottom: pxToRem(22);
  text-align: right;
  a{
    font-size: pxToRem(26);
    color: #626262;
  }
}


















