@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "微软雅黑", "Microsoft yahei"; }

body, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, dd, p, textarea, input, select, option, form {
  margin: 0;
  padding: 0; }

body {
  background: #f5f4f0;
  -webkit-tap-highlight-color: transparent; }

ol, ul, textarea, input, option, th, td {
  padding: 0; }

.page {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  list-style-type: none; }

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

/* ios默认文本框阴影 */
input[type=text], textarea {
  -webkit-appearance: none; }

/* 低版本安卓文本框层级问题 */
input:focus {
  -webkit-user-modify: read-write-plaintext-only; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none; }

a, textarea, input {
  outline: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

@media only screen and (min-width: 320px) {
  html {
    font-size: 75% !important;
    /* 12÷16=73.4% */ } }

@media only screen and (min-width: 375px) {
  html {
    font-size: 87.89063% !important;
    /* 14.0625÷16=73.2% */ } }

@media only screen and (min-width: 414px) {
  html {
    font-size: 97.03% !important;
    /* 15.525÷16=94% */ } }

@media only screen and (min-width: 480px) {
  html {
    font-size: 112.5% !important;
    /* 18÷16=94% */ } }

@media only screen and (min-width: 560px) {
  html {
    font-size: 131.25% !important;
    /* 21÷16=109% */ } }

@media only screen and (min-width: 640px) {
  html {
    font-size: 150% !important;
    /* 24÷16=125% */ } }

@media only screen and (min-width: 720px) {
  html {
    font-size: 168.75% !important;
    /* 27÷16=146.43% */ } }

@media only screen and (min-width: 750px) {
  html {
    font-size: 175.78125% !important;
    /* 28.125÷16=146.43% */ } }

@media only screen and (min-width: 800px) {
  html {
    font-size: 187.5% !important;
    /* 30÷16=146.43% */ } }

@media only screen and (min-width: 960px) {
  html {
    font-size: 225% !important;
    /* 36÷16=146.43% */ } }

@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?t=1466847905");
  /* IE9*/
  src: url("iconfont.eot?t=1466847905#iefix") format("embedded-opentype"), url("iconfont.woff?t=1466847905") format("woff"), url("iconfont.ttf?t=1466847905") format("truetype"), url("iconfont.svg?t=1466847905#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-sousuo:before {
  content: "\e635"; }

.icon-shouyeshouye:before {
  content: "\e60c"; }

.icon-fenlei:before {
  content: "\3557"; }

.icon-gouwuche:before {
  content: "\e7ef"; }

.icon-v:before {
  content: "\e602"; }

.icon-gengduo:before {
  content: "\e669"; }

body, html {
  width: 100%;
  height: 100%;
  font-family: "微软雅黑"; }

header {
  background: #e4366b;
  width: 100%;
  display: flex;
  border-top: 1px solid #636363;
  border-bottom: 1px solid #282828;
  position: relative;
  height: 3.66667rem; }
  header a {
    display: block;
    width: 2.125rem;
    height: 1.41667rem;
    margin-top: 1.25rem;
    float: left;
    margin-left: 0.83333rem;
    background: url(../img/header_arrow.png) 0 0 no-repeat;
    background-size: 2.16667rem 1.41667rem; }
  header h2 {
    height: 3.66667rem;
    line-height: 3.66667rem;
    display: inline-block;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.66667rem; }

#thelist {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  list-style: none;
  box-sizing: border-box; }
  #thelist li {
    padding: 0.83333rem 2.25rem 1.04167rem 0.66667rem;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    border-bottom: 1px solid #707070; }
    #thelist li dl {
      width: 100%;
      display: flex; }
      #thelist li dl dt {
        display: inline-block; }
        #thelist li dl dt img {
          height: 7.25rem;
          width: 7.25rem; }
      #thelist li dl dd {
        display: inline-block;
        margin-left: 0.70833rem;
        position: relative; }
        #thelist li dl dd p {
          display: inline-block;
          width: 12.16667rem; }
        #thelist li dl dd em {
          position: absolute;
          right: 0;
          font-style: normal; }
        #thelist li dl dd .price {
          display: inline-block;
          margin-top: 0.91667rem;
          color: red;
          font-size: 1.04167rem;
          float: left;
          width: 10.58333rem; }
          #thelist li dl dd .price a {
            display: inline-block;
            font-size: 0.75rem;
            color: #bdbbbc;
            text-decoration: line-through;
            margin-left: 0.83333rem; }
          #thelist li dl dd .price b {
            display: inline-block;
            margin-top: 0.54167rem;
            font-size: 0.95833rem;
            color: #252324;
            margin-left: 0.375rem; }
        #thelist li dl dd .shopCar {
          display: inline-block;
          width: 4.91667rem;
          height: 2.16667rem;
          border-radius: 5px;
          background: #e5376c;
          float: left;
          margin-top: 2.08333rem;
          text-align: center;
          line-height: 2.16667rem;
          color: #fff;
          font-size: 1.33333rem; }
