@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "微软雅黑", "Microsoft yahei"; }

body, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, dd, p, textarea, input, select, option, form {
  margin: 0;
  padding: 0; }

body {
  background: #f5f4f0;
  -webkit-tap-highlight-color: transparent; }

ol, ul, textarea, input, option, th, td {
  padding: 0; }

.page {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  list-style-type: none; }

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

/* ios默认文本框阴影 */
input[type=text], textarea {
  -webkit-appearance: none; }

/* 低版本安卓文本框层级问题 */
input:focus {
  -webkit-user-modify: read-write-plaintext-only; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none; }

a, textarea, input {
  outline: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

@media only screen and (min-width: 320px) {
  html {
    font-size: 75% !important;
    /* 12÷16=73.4% */ } }

@media only screen and (min-width: 375px) {
  html {
    font-size: 87.89063% !important;
    /* 14.0625÷16=73.2% */ } }

@media only screen and (min-width: 414px) {
  html {
    font-size: 97.03% !important;
    /* 15.525÷16=94% */ } }

@media only screen and (min-width: 480px) {
  html {
    font-size: 112.5% !important;
    /* 18÷16=94% */ } }

@media only screen and (min-width: 560px) {
  html {
    font-size: 131.25% !important;
    /* 21÷16=109% */ } }

@media only screen and (min-width: 640px) {
  html {
    font-size: 150% !important;
    /* 24÷16=125% */ } }

@media only screen and (min-width: 720px) {
  html {
    font-size: 168.75% !important;
    /* 27÷16=146.43% */ } }

@media only screen and (min-width: 750px) {
  html {
    font-size: 175.78125% !important;
    /* 28.125÷16=146.43% */ } }

@media only screen and (min-width: 800px) {
  html {
    font-size: 187.5% !important;
    /* 30÷16=146.43% */ } }

@media only screen and (min-width: 960px) {
  html {
    font-size: 225% !important;
    /* 36÷16=146.43% */ } }

body {
  background: #f7f7f7;
  width: 100%;
  height: 100%; }
  body .tit {
    width: 100%;
    height: 3.70833rem;
    position: relative;
    padding: 0 0.83333rem;
    box-sizing: border-box;
    background: url(../img/register/bg.jpg) 0 0 repeat-x;
    background-size: 100% 100%; }
    body .tit a {
      display: block;
      width: 2.16667rem;
      height: 1.45833rem;
      background: url(../img/register/jiantou.jpg) 0 0 no-repeat;
      background-size: 2.16667rem 1.45833rem;
      float: left;
      margin-top: 1.20833rem; }
    body .tit p {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      font-family: "微软雅黑";
      font-size: 1.66667rem;
      color: #fff;
      line-height: 3.70833rem; }
    body .tit input {
      border: 0;
      width: 4.5rem;
      height: 2.33333rem;
      float: right;
      margin-top: 0.625rem;
      font-size: 1rem;
      color: #fff;
      background: url(../img/register/bg2.jpg) 0 0 repeat-x;
      background-size: 4.5rem 2.33333rem;
      border-radius: 0.41667rem; }
  body section {
    width: 100%;
    padding: 0.41667rem 1.66667rem 0 1.66667rem;
    box-sizing: border-box; }
    body section input {
      margin-top: 2.08333rem;
      width: 23.33333rem;
      height: 3.33333rem;
      background: #fff;
      font-family: "微软雅黑";
      font-size: 1.5rem;
      border: 0;
      outline: none;
      line-height: 3.33333rem;
      border-radius: 0.41667rem;
      padding-left: 1.04167rem;
      font-weight: 300;
      box-sizing: border-box; }
    body section input::-webkit-input-placeholder {
      color: #a49a98; }
    body section .check {
      height: 5rem; }
      body section .check input {
        margin-left: 0.75rem;
        width: 1.29167rem;
        height: 1.29167rem;
        border: 0.04167rem solid #bcbcbc;
        box-sizing: border-box;
        float: left; }
      body section .check span {
        display: block;
        width: 6.33333rem;
        margin-left: 0.5rem;
        font-size: 1rem;
        color: #707070;
        float: left;
        margin-top: 1.875rem; }
      body section .check a {
        font-size: 1rem;
        color: #9d9d9d;
        text-decoration: underline;
        margin-top: 1.875rem;
        float: left; }
    body section .register {
      display: block;
      text-decoration: none;
      width: 23.33333rem;
      height: 3.83333rem;
      font-size: 1.5rem;
      font-weight: 300;
      text-align: center;
      line-height: 3.83333rem;
      background: url(../img/register/bg3.jpg) 0 0 repeat-x;
      background-size: 100% 100%;
      border-radius: 0.41667rem;
      color: #fff; }
    body section .wall {
      width: 100%;
      height: 100%;
      background: #ccc;
      opacity: 0.5;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 100;
      display: none; }
    body section .box {
      width: 15rem;
      height: 6.66667rem;
      background: rgba(85, 84, 92, 0.7);
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 200;
      color: #fff;
      display: none; }
      body section .box b {
        display: block;
        height: 4.58333rem;
        line-height: 4.58333rem;
        font-size: 1.66667rem;
        text-align: center; }
      body section .box span {
        display: block;
        height: 2.08333rem;
        line-height: 2.08333rem;
        font-size: 1.25rem;
        text-align: right;
        margin-right: 1.25rem; }
