@charset "UTF-8";
/*
* @Author: Administrator
* @Date:   2016-06-28 11:19:25
* @Last Modified by:   Administrator
* @Last Modified time: 2016-06-28 11:20:41
*/
@import url(../ux/iconfont.css);
html {
  font-size: 62.5%;
  font-family: "微软雅黑", "Microsoft yahei"; }

body, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, dd, p, textarea, input, select, option, form {
  margin: 0;
  padding: 0; }

body {
  background: #f5f4f0;
  -webkit-tap-highlight-color: transparent; }

ol, ul, textarea, input, option, th, td {
  padding: 0; }

.page {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  list-style-type: none; }

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

/* ios默认文本框阴影 */
input[type=text], textarea {
  -webkit-appearance: none; }

/* 低版本安卓文本框层级问题 */
input:focus {
  -webkit-user-modify: read-write-plaintext-only; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none; }

a, textarea, input {
  outline: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

@media only screen and (min-width: 320px) {
  html {
    font-size: 75% !important;
    /* 12÷16=73.4% */ } }

@media only screen and (min-width: 375px) {
  html {
    font-size: 87.89063% !important;
    /* 14.0625÷16=73.2% */ } }

@media only screen and (min-width: 414px) {
  html {
    font-size: 97.03% !important;
    /* 15.525÷16=94% */ } }

@media only screen and (min-width: 480px) {
  html {
    font-size: 112.5% !important;
    /* 18÷16=94% */ } }

@media only screen and (min-width: 560px) {
  html {
    font-size: 131.25% !important;
    /* 21÷16=109% */ } }

@media only screen and (min-width: 640px) {
  html {
    font-size: 150% !important;
    /* 24÷16=125% */ } }

@media only screen and (min-width: 720px) {
  html {
    font-size: 168.75% !important;
    /* 27÷16=146.43% */ } }

@media only screen and (min-width: 750px) {
  html {
    font-size: 175.78125% !important;
    /* 28.125÷16=146.43% */ } }

@media only screen and (min-width: 800px) {
  html {
    font-size: 187.5% !important;
    /* 30÷16=146.43% */ } }

@media only screen and (min-width: 960px) {
  html {
    font-size: 225% !important;
    /* 36÷16=146.43% */ } }

header {
  width: 100%;
  height: 3.54167rem;
  background: #e4366b;
  font-size: 1.66667rem;
  color: white;
  text-align: center;
  line-height: 3.54167rem;
  position: relative; }
  header img {
    width: 2.29167rem;
    height: 1.375rem;
    position: absolute;
    left: 0.83333rem;
    top: 1.08333rem; }

footer {
  background: #484850;
  position: fixed;
  bottom: 0;
  color: white;
  height: 4.08333rem;
  width: 100%; }
  footer ul {
    width: 100%;
    height: 100%; }
    footer ul li {
      float: left;
      font-size: 2rem !important;
      height: 100%;
      width: 20%;
      text-align: center;
      padding-top: 0.33333rem; }
      footer ul li p {
        font-size: 1.04167rem;
        margin-top: 0.41667rem; }
    footer ul li:hover {
      color: #f42a76; }

#thelist {
  margin-top: 1.25rem; }
  #thelist li {
    height: 9.16667rem;
    padding: 0.83333rem 0 0 0.83333rem;
    box-sizing: border-box;
    border-bottom: 0.08333rem solid #aaaaaa;
    background: #ffffff; }
    #thelist li dt {
      float: left; }
      #thelist li dt img {
        width: 7.20833rem;
        height: 7.16667rem; }
    #thelist li dd {
      float: left;
      width: 15.83333rem;
      margin-left: 0.66667rem;
      font-size: 1.08333rem;
      position: relative; }
      #thelist li dd p {
        margin-top: 1.25rem; }
        #thelist li dd p span {
          color: #f42a76;
          font-size: 0.75rem; }
      #thelist li dd div {
        font-size: 0.91667rem;
        margin-top: 0.33333rem; }
      #thelist li dd button {
        width: 4.91667rem;
        height: 2.08333rem;
        border-radius: 0.41667rem;
        background: #f42a76;
        border: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        font-size: 0.91667rem; }
