<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>5.4 ng-repeat</title>
	</head>

	<body ng-app="myModule">
		<div ng-controller="myController">

			<ul ng-repeat="province in provinces" ng-init="parentIndex = $index">
				<li>{{province.name}} index:{{$index}}</li>
				<ul ng-repeat="city in province.cities">
					<li>{{city.name}} parent index:{{parentIndex}} index:{{$index}}</li>
				</ul>
			</ul>
		</div>

		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/05.2_ng-repeat.js"></script>
	</body>

</html>