@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "Microsoft yahei"; }

body, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, dd, p, textarea, input, select, option, form {
  margin: 0;
  padding: 0; }

body {
  background: #f5f4f0;
  -webkit-tap-highlight-color: transparent; }

ol, ul, textarea, input, option, th, td {
  padding: 0; }

.page {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  list-style-type: none; }

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

input[type=text], textarea {
  -webkit-appearance: none; }

input:focus {
  -webkit-user-modify: read-write-plaintext-only; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none; }

a, textarea, input {
  outline: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

@media only screen and (min-width: 320px) {
  html {
    font-size: 75% !important;
    /* 12÷16=73.4% */ } }

@media only screen and (min-width: 375px) {
  html {
    font-size: 87.89063% !important;
    /* 14.0625÷16=73.2% */ } }

@media only screen and (min-width: 414px) {
  html {
    font-size: 97.03% !important;
    /* 15.525÷16=94% */ } }

@media only screen and (min-width: 480px) {
  html {
    font-size: 112.5% !important;
    /* 18÷16=94% */ } }

@media only screen and (min-width: 560px) {
  html {
    font-size: 131.25% !important;
    /* 21÷16=109% */ } }

@media only screen and (min-width: 640px) {
  html {
    font-size: 150% !important;
    /* 24÷16=125% */ } }

@media only screen and (min-width: 720px) {
  html {
    font-size: 168.75% !important;
    /* 27÷16=146.43% */ } }

@media only screen and (min-width: 750px) {
  html {
    font-size: 175.78125% !important;
    /* 28.125÷16=146.43% */ } }

@media only screen and (min-width: 800px) {
  html {
    font-size: 187.5% !important;
    /* 30÷16=146.43% */ } }

@media only screen and (min-width: 960px) {
  html {
    font-size: 225% !important;
    /* 36÷16=146.43% */ } }

* {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

body, html {
  width: 100%;
  background: #f7f7f7; }

header {
  width: 100%;
  height: 3.66667rem;
  background: #e4366b;
  text-align: center;
  line-height: 3.66667rem;
  color: #fff;
  font-size: 1.66667rem;
  border-top: 0.08333rem solid #282828;
  box-sizing: border-box; }
  header img {
    position: absolute;
    width: 2.125rem;
    height: 1.41667rem;
    left: 0.83333rem;
    top: 1.29167rem; }

section {
  width: 100%;
  height: 30.58333rem;
  background: #f7f7f7;
  padding: 2.66667rem 0 0 1.33333rem;
  box-sizing: border-box; }
  section div:nth-child(1) {
    width: 23.29167rem;
    height: 10.33333rem; }
    section div:nth-child(1) div:nth-child(1) {
      width: 8.33333rem;
      height: 10.33333rem;
      float: left; }
      section div:nth-child(1) div:nth-child(1) img {
        width: 6.83333rem;
        height: 6.91667rem; }
    section div:nth-child(1) div:nth-child(2) {
      width: 14.95833rem;
      height: 10.33333rem;
      float: left;
      border: 0; }
      section div:nth-child(1) div:nth-child(2) h3 {
        width: 14.95833rem;
        height: 4.33333rem;
        font-size: 1.41667rem;
        font-family: "Microsoft yahei";
        line-height: 4.33333rem; }
      section div:nth-child(1) div:nth-child(2) span button {
        width: 4.5rem;
        height: 2.25rem;
        margin-right: 1.83333rem;
        font-size: 1rem;
        font-family: "Microsoft yahei";
        text-align: center;
        line-height: 2.25rem;
        color: #fff;
        outline: none;
        border: 0;
        background: url(../img/person-bg1.png) 0 0 no-repeat;
        background-size: 4.5rem 2.25rem; }
  section .content {
    width: 23.29167rem;
    height: 15.125rem;
    box-sizing: border-box;
    border: 0.08333rem solid #dedede;
    border-radius: 0.83333rem;
    background: #fff; }
    section .content li {
      width: 23.125rem;
      height: 3.66667rem;
      text-indent: 1.25rem;
      line-height: 3.66667rem;
      font-family: "Microsoft yahei";
      font-size: 1.5rem;
      background: url(../img/person-gt.png) 21.20833rem center no-repeat;
      background-size: 0.95833rem 1.20833rem; }
    section .content li:nth-child(2) {
      border-top: 0.08333rem solid #dedede;
      border-bottom: 0.08333rem solid #dedede; }
    section .content li:nth-child(4) {
      border-top: 0.08333rem solid #dedede; }
