@charset 'utf-8';
$font_family:"Microsoft yahei";
@mixin box_flex($box_flex){
	-webkit-display:$box_flex;
	-moz-display:$box_flex;
	-ms-display:$box_flex;
	-o-display:$box_flex;
	display:$box_flex;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
*{
	margin:0;
	padding:0;
}
html,body{
	width:100%;
	height:100%;
}
#swiper-out{
			width:100%;
			height:100%;
			.swiper-pagination-bullet-active {
								    p{
								    	color:#d60f12;
								    }
								}
			.sw1{
				width:100%;
				.index{
					h1{
						box-sizing:border-box;
						width:100%;
						height:1.28rem;
						font-size:0.42rem;
						text-align:center;
						color:white;
						font-family:$font_family;
						padding-top:0.5rem;
						background:#e4366b;
					}
					.search{
						width:100%;
						height:0.88rem;
						background:#52525a;
						overflow: hidden;
						position:relative;
						span{
							display: block;
							width:0.52rem;
							height:0.44rem;
							position:absolute;
							left:0.6rem;
							top:0.2rem;
							background:url(../images/search.jpg) center no-repeat;
							background-size:cover;
						}
						input{
							outline: none;
							display: block;
							text-indent: 0.78rem;
							width:5.54rem;
							height:0.6rem;
							margin:0 auto;
							border:0;
							border-radius:0.2rem/50%;
							margin-top:0.12rem;

						}
					}
					#swiper-in{
						width:100%;
						.swiper-pagination-bullet-active {
								    background:#d60f12;
								}
						.sw2{
							width:100%;
							.swiper-slide{
								width:100%;
								height: 2.52rem;
								background-size:cover;
							}
							.slide1{
								background:yellow;
							}
							.slide2{
								background:blue;
							}
							.slide3{
							   background:green;
							}
							.slide4{
								background:purple;
							}
						}
					}
					.main{
						width:100%;
						height:5.7rem;
						overflow: hidden;
						.ul{
							width:100%;
							.list{
								width:100%;
								height:2.2rem;
								border-top:solid 0.01rem black;
								box-sizing:border-box;
								padding:0.18rem 0.52rem 0.26rem 0.16rem;
								@include box_flex(flex);
								-webkit-flex-flow:row;
								img{
									display: inline-block;
									width:1.74rem;
									height:1.74rem;
								}
								ul{
									width:3.82rem;
									height:1.74rem;
									margin-left:0.18rem;
									font-size:0.26rem;
									line-height: 0.44rem;
									position:relative;
									button{
										width:1.2rem;
										height:0.52rem;
										font-size: 0.5rem;
										text-align: center;
										line-height: 0.52rem;
										border:0;
										border-radius:0.1rem;
										position:absolute;
										bottom:0.2rem;
										right:0;
										background-image:-webkit-linear-gradient(top,#f3608c,#e4366b);
									}
								}
							}
						}
					}
				}
				.devide{
					overflow: hidden;	
					h1{
						box-sizing:border-box;
						width:100%;
						height:1.28rem;
						font-size:0.42rem;
						text-align:center;
						color:white;
						font-family:$font_family;
						padding-top:0.5rem;
						background:#e4366b;
						span{
							float:left;
							color:#690c27;
						}
					}
					.search{
						width:100%;
						height:0.88rem;
						background:#52525a;
						overflow: hidden;
						position:relative;
						span{
							display: block;
							width:0.52rem;
							height:0.44rem;
							position:absolute;
							left:0.6rem;
							top:0.2rem;
							background:url(../images/search.jpg) center no-repeat;
							background-size:cover;
						}
						input{
							outline: none;
							display: block;
							text-indent: 0.78rem;
							width:5.54rem;
							height:0.6rem;
							margin:0 auto;
							border:0;
							border-radius:0.2rem/50%;
							margin-top:0.12rem;

						}
					}
					ul.main{
						width:100%;
						height:8.2rem;
						overflow: hidden;
						.list{
							text-indent:0.2rem ;
							overflow:hidden;
							ul{
								display: none;
							}
						}
						li{
							width:100%;
							border-bottom:solid 0.01rem black;
							font-size: 0.44rem;
							text-indent:0.4rem ;
							line-height: 0.86rem;
							span{
								float:right;
							}
						}
					}

				}
				.cart{
					// overflow: hidden;	
					h1{
						box-sizing:border-box;
						width:100%;
						height:1.28rem;
						font-size:0.42rem;
						text-align:center;
						color:white;
						font-family:$font_family;
						padding-top:0.5rem;
						background:#e4366b;
						span{
							float:left;
							color:#690c27;
						}
						button{
							float:right;
							width:1.1rem;
							height:0.62rem;
							line-height: 0.62rem;
							background:#e4366b;
							color:white;
							border:solid 0.02rem grey;
							border-radius:0.15rem;
							margin-right:0.16rem;
							font-size:0.24rem;
						}
					}
					.qgg{
						width:100%;
						height:9rem;
						border:solid 0.01rem blue;
						position:absolute;
						left:0;
						top:1.28rem;
						background:#f7f7f7;
						display: none;
						p{
							text-align: center;
							height:1.22rem;
							line-height: 1.56rem;
							font-size:0.36rem;
							font-weight:bold;
						}
						.cart-empty{
							width:2.6rem;
							height:2.64rem;
							margin:0 auto;
							background:url(../images/cart-empty.jpg) center no-repeat;
							background-size:cover;
						}
						button{
							display: block;
							width:4.26rem;
							height:0.98rem;
							background-image:-webkit-linear-gradient(top,#f3608c,#e23167);
							font-size:0.5rem;
							color:white;
							text-align: center;
							line-height: 0.98rem;
							border:0;
							margin:0.72rem auto;
							border-radius:0.2rem;
						}
					}
					.search{
						width:100%;
						height:0.88rem;
						background:#52525a;
						overflow: hidden;
						position:relative;
						font-size:0.32rem;
						text-align:center;
						line-height: 0.88rem;
						color:white;
						span{
							border:solid 0.01rem white;
						}
					}
					ul.ul{
						width:100%;
						display: block;
						box-sizing:border-box;
						padding:0.28rem 0.38rem 0.32rem 0.32rem;
						img{
							width:1.76rem;
							height:1.76rem;
							background:red;
						}
						li.list{
							width:100%;
							height:2.32rem;
							border-bottom:solid 0.01rem black;
							ul{
								width:3.6rem;
								height:1.76rem;
								float:right;
								li{
									width:100%;
									height:0.32rem;
									font-size: 0.32rem;
									margin:0.12rem 0;
									span.iconfont{
										float:right;
									}
									input{
										width:0.76rem;
										height:0.32rem;
									}
								}
							}
						}
					}
						
				}
				.myshow{
					.main{
						width:100%;
						.lm{
							position:absolute;
							width:100%;
						}
						.user{
							h1{
							box-sizing:border-box;
							width:100%;
							height:1.28rem;
							font-size:0.42rem;
							text-align:center;
							color:white;
							font-family:$font_family;
							padding-top:0.5rem;
							background:#e4366b;
								span{
									float:left;
									color:#690c27;
								}
							}
							.content{
								width:5.6rem;
								margin:0 auto;
								box-sizing:border-box;
								padding-top:0.62rem;
							
								@include box_flex(flex);
								-webkit-flex-flow:row wrap;
								justify-content: space-between;
								.head{
										width:1.66rem;
										height:1.66rem;
										font-size:1.6rem;
										color:grey;
										background:#202020;
										border-radius:0.1rem;
										display: inline-block;
									}
								.top{
									width:3.6rem;
									height:1.64rem;
									.list1{
										height:1.04rem;
										font-size:0.36rem;
										line-height:1.2rem;
									}
									.list2{
										button{
											display: block;
											width:1.1rem;
											height:0.54rem;
											border-radius:0.1rem;
											border:0;
											float:left;
											margin-right:0.44rem;
											background:#ea3f73;
											color:white;
											text-align: center;
											line-height: 0.54rem;
										}
									}
								}
								.bottom{
									width:100%;
									height:3.62rem;
									margin-top:0.86rem;
									border-radius:0.2rem;
									border:0.01rem solid grey;
									li{
										width:100%;
										height:0.9rem;
										text-indent: 0.3rem;
										line-height: 0.9rem;
										font-size:0.4rem;
										border-bottom:0.01rem solid grey;
										span{
											float:right;
										}
									}
									.le{
										border:0;
									}
								}
							}						
						}
						.log-up{
							h1{
								box-sizing:border-box;
								width:100%;
								height:1.28rem;
								font-size:0.42rem;
								text-align:center;
								color:white;
								font-family:$font_family;
								padding-top:0.5rem;
								background:#e4366b;
								span{
									float:left;
									color:#690c27;
								}
								button{
									float:right;
									width:1.1rem;
									height:0.62rem;
									line-height: 0.62rem;
									background:#e4366b;
									color:white;
									border:solid 0.02rem grey;
									border-radius:0.15rem;
									margin-right:0.16rem;
									font-size:0.24rem;
								}
							}
							.log{
								width:5.64rem;
								margin:0 auto;
								box-sizing:border-box;
								padding-top:0.62rem;
								li{
									width:100%;
									height:1.24rem;
									input{
										width:100%;
										height:0.78rem;
										border-radius:0.2rem;
										text-indent:0.28rem;
										line-height: 0.78rem;
										font-size: 0.32rem;
									}
								}
								button{
									width:100%;
									height:0.92rem;
									color:white;
									font-family:$font_family;
									font-size:0.38rem;
									text-align:center;
									line-height: 0.92rem;
									background-image:-webkit-linear-gradient(top,#f3608c,#e23167);
									border:0;
									border-radius:0.2rem;
									margin-top: 0.32rem;
								}	
							}
						}
						.log-in{
							h1{
								box-sizing:border-box;
								width:100%;
								height:1.28rem;
								font-size:0.42rem;
								text-align:center;
								color:white;
								font-family:$font_family;
								padding-top:0.5rem;
								background:#e4366b;
								span{
									float:left;
									color:#690c27;
								}
								button{
									float:right;
									width:1.1rem;
									height:0.62rem;
									line-height: 0.62rem;
									background:#e4366b;
									color:white;
									border:solid 0.02rem grey;
									border-radius:0.15rem;
									margin-right:0.16rem;
									font-size:0.24rem;
								}
							}
							.log{
								width:5.64rem;
								margin:0 auto;
								box-sizing:border-box;
								padding-top:0.62rem;
								li{
									width:100%;
									height:1.24rem;
									font-size: 0.14rem;

									input{
										width:100%;
										height:0.78rem;
										border-radius:0.2rem;
										text-indent:0.28rem;
										line-height: 0.78rem;
										font-size: 0.32rem;
										margin-right: 0.14rem;
									}
									#check{
										width:0.3rem;
										height:0.3rem;
										font-size: 0.26rem;
									}
								}
								button{
									width:100%;
									height:0.92rem;
									color:white;
									font-family:$font_family;
									font-size:0.38rem;
									text-align:center;
									line-height: 0.92rem;
									background-image:-webkit-linear-gradient(top,#f3608c,#e23167);
									border:0;
									border-radius:0.2rem;
									margin-top: 0.32rem;
								}	
							}
						}
						.my-order{
							h1{
								box-sizing:border-box;
								width:100%;
								height:1.28rem;
								font-size:0.42rem;
								text-align:center;
								color:white;
								font-family:$font_family;
								padding-top:0.5rem;
								background:#e4366b;
								span{
									float:left;
									color:#690c27;
								}
								button{
									float:right;
									width:1.1rem;
									height:0.62rem;
									line-height: 0.62rem;
									background:#e4366b;
									color:white;
									border:solid 0.02rem grey;
									border-radius:0.15rem;
									margin-right:0.16rem;
									font-size:0.24rem;
								}
							}
							ul.ul{
								width:100%;
								display: block;
								box-sizing:border-box;
								padding:0.28rem 0.38rem 0.32rem 0.32rem;
								img{
									width:1.76rem;
									height:1.76rem;
									background:red;
								}
								li.list{
									width:100%;
									height:2.32rem;
									border-bottom:solid 0.01rem black;
									ul{
										width:3.6rem;
										height:1.76rem;
										float:right;
										li{
											width:100%;
											height:0.32rem;
											font-size: 0.32rem;
											margin:0.12rem 0;
											span.iconfont{
												float:right;
											}
											button{
												width:1.38rem;
												height:0.54rem;
												color:white;
												font-family:$font_family;
												font-size:0.28rem;
												text-align:center;
												line-height: 0.54rem;
												background-image:-webkit-linear-gradient(top,#f3608c,#e23167);
												border:0;
												border-radius:0.1rem;
												float:right;
											}
										}
									}
								}
							}
						}
					}
				}
				.more{
					h1{
						box-sizing:border-box;
						width:100%;
						height:1.28rem;
						font-size:0.42rem;
						text-align:center;
						color:white;
						font-family:$font_family;
						padding-top:0.5rem;
						background:#e4366b;
						span{
							float:left;
							color:#690c27;
						}
					}
					ul{
						width:5.6rem;
						margin:0 auto;
						border:0.01rem solid grey;
						border-radius:0.2rem;
						li{
							width:100%;
							height:0.9rem;
							font-size: 0.4rem;
							text-indent: 0.32rem;
							line-height: 0.9rem;
							border-bottom:solid 0.01rem grey;
							span{
								float:right;
							}
						}
						.list-last{
							border:0;
						}
					}
					.ul1{
						height:3.64rem;	
						margin-bottom:0.26rem;
						margin-top:0.4rem;				
					}
					.ul2{
						height:1.82rem;
						margin-bottom:0.26rem;
					}	
					button{
						width:5.6rem;
						height:0.9rem;
						display: block;
						color:white;
						font-family:$font_family;
						font-size:0.36rem;
						text-align:center;
						line-height: 0.9rem;
						background-image:-webkit-linear-gradient(top,#f3608c,#e23167);
						border:0;
						border-radius:0.2rem;
						margin:0 auto;
					}
				}
				.swiper-slide{
				width:100%;
				height:100%;
				}
					
			}
			#sp-out{
				@include box_flex(flex);
				-webkit-flex-flow:row; 
				position:absolute;
				bottom:0;
					.iconfont{
					width:20%;
					height:0.98rem;
					background:#484850;
					text-align:center;
					color:white;
					border-radius:0;
					margin:0;
					p{
						font-weight: bold;
					}
					p:nth-child(1){
						width:100%;
						height:0.56rem;
						line-height:0.56rem;
						font-size: 0.42rem;
					}
					p:nth-child(2){
						width:100%;
						height:0.42rem;
						line-height:0.42rem;
						font-size: 0.24rem;
					}
				}
			}
			
		}