
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1467613708'); /* IE9*/
  src: url('iconfont.eot?t=1467613708#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1467613708') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1467613708') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1467613708#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shouye:before { content: "\e604"; }
.icon-2:before { content: "\e60d"; }
.icon-order:before { content: "\e62f"; }
.icon-xiaoxi:before { content: "\e61c"; }
.icon-diancan:before { content: "\e63c"; }
.icon-drzy:before { content: "\e60e"; }
.icon-xianhua:before { content: "\e73b"; }
.icon-jiaoyu:before { content: "\e60a"; }
.icon-shuiguo:before { content: "\e622"; }
.icon-fuwu:before { content: "\e657"; }
.icon-huishou:before { content: "\e609"; }
.icon-youyanji:before { content: "\e66c"; }
.icon-gerenzhongxin:before { content: "\e60a"; }
.icon-shezhi:before { content: "\e61a"; }
