@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "Microsoft yahei"; }

body, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, dd, p, textarea, input, select, option, form {
  margin: 0;
  padding: 0; }

body {
  background: #f5f4f0;
  -webkit-tap-highlight-color: transparent; }

ol, ul, textarea, input, option, th, td {
  padding: 0; }

.page {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  list-style-type: none; }

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

input[type=text], textarea {
  -webkit-appearance: none; }

input:focus {
  -webkit-user-modify: read-write-plaintext-only; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none; }

a, textarea, input {
  outline: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

@media only screen and (min-width: 320px) {
  html {
    font-size: 75% !important;
    /* 12梅16=73.4% */ } }
@media only screen and (min-width: 375px) {
  html {
    font-size: 87.89063% !important;
    /* 14.0625梅16=73.2% */ } }
@media only screen and (min-width: 414px) {
  html {
    font-size: 97.03% !important;
    /* 15.525梅16=94% */ } }
@media only screen and (min-width: 480px) {
  html {
    font-size: 112.5% !important;
    /* 18梅16=94% */ } }
@media only screen and (min-width: 560px) {
  html {
    font-size: 131.25% !important;
    /* 21梅16=109% */ } }
@media only screen and (min-width: 640px) {
  html {
    font-size: 150% !important;
    /* 24梅16=125% */ } }
@media only screen and (min-width: 720px) {
  html {
    font-size: 168.75% !important;
    /* 27梅16=146.43% */ } }
@media only screen and (min-width: 750px) {
  html {
    font-size: 175.78125% !important;
    /* 28.125梅16=146.43% */ } }
@media only screen and (min-width: 800px) {
  html {
    font-size: 187.5% !important;
    /* 30梅16=146.43% */ } }
@media only screen and (min-width: 960px) {
  html {
    font-size: 225% !important;
    /* 36梅16=146.43% */ } }
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

header {
  width: 100%;
  height: 3.66667rem;
  box-sizing: border-box;
  padding: 0 .24rem;
  background: #dc0a4b;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header a:nth-child(1) {
    font-size: 2.41667rem;
    color: #fff; }
  header a:nth-child(3) {
    font-size: 0.91667rem;
    color: #fff; }
  header span {
    font-size: 1.25rem;
    color: #fff; }

content {
  width: 100%; }
  content section {
    width: 100%;
    height: 37.5rem;
    box-sizing: border-box;
    padding-top: 1.54167rem;
    padding-right: 0.91667rem;
    padding-left: 0.625rem; }
    content section .login-phone {
      width: 100%;
      height: 2.75rem;
      background: #fff;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-left: 1.83333rem;
      margin-bottom: 1.66667rem; }
      content section .login-phone img {
        width: 1.20833rem;
        height: 1.75rem; }
      content section .login-phone input {
        width: 100%;
        line-height: 2.75rem;
        font-size: 1.08333rem;
        border: 0;
        outline: none;
        text-indent: 1.375rem; }
    content section .login-go {
      width: 100%;
      box-sizing: border-box;
      padding-left: 5.16667rem; }
      content section .login-go a:nth-child(1) {
        display: block;
        width: 14.04167rem;
        height: 2.66667rem;
        background: #00a0e9;
        font-size: 1.16667rem;
        text-align: center;
        line-height: 2.66667rem;
        color: #fff;
        margin-bottom: 0.75rem; }
      content section .login-go a:nth-child(2) {
        color: #31b1eb;
        font-size: 1.08333rem;
        margin-top: 0.75rem; }

/*# sourceMappingURL=login.css.map */
