@import 'mobile.scss';
@charset "utf-8";
*{
  margin:0;
  padding:0;
}
a{
  text-decoration:none;
}
ol,ul{
  list-style:none;
}
header{
  width:100%;
  height:pxToRem(88);
  box-sizing:border-box;
  padding:0 .24rem;
  background:#dc0a4b;
  display:flex;
  justify-content:space-between;
  align-items:center;
  a:nth-child(1){
    font-size:pxToRem(58);
    color:#fff;
  }
  a:nth-child(3){
    font-size:pxToRem(22);
    color:#fff;
  }
  span{
    font-size:pxToRem(30);
    color:#fff;
  }
}
content{
  width:100%;
  section{
    width:100%;
    height:pxToRem(900);
    box-sizing:border-box;
    //padding:.37rem  .22rem  0  .15rem;
    padding-top:pxToRem(37);
    padding-right:pxToRem(22);
    padding-left:pxToRem(15);
    .login-phone{
      width:100%;
      height:pxToRem(66);
      background:#fff;
      display:flex;
      align-items:center;
      box-sizing:border-box;
      padding-left:pxToRem(44);
      margin-bottom:pxToRem(40);
      img{
        width:pxToRem(29);
        height:pxToRem(42);
      }
      input{
        width:100%;
        line-height:pxToRem(66);
        font-size:pxToRem(26);
        border:0;
        outline: none;
        text-indent:pxToRem(33);
      }
    }
    .login-go{
      width:100%;
      box-sizing:border-box;
      padding-left:pxToRem(124);
      a:nth-child(1){
        display:block;
        width:pxToRem(337);
        height:pxToRem(64);
        background:#00a0e9;
        font-size:pxToRem(28);
        text-align:center;
        line-height:pxToRem(64);
        color:#fff;
        margin-bottom:pxToRem(18);
      }
      a:nth-child(2){
        color:#31b1eb;
        font-size:pxToRem(26);
        margin-top:pxToRem(18);
      }
    }
  }
}