body .btm-list {
    width: 100%;
    height: 4.08333rem;
    position: absolute;
    bottom: 0rem;
    background: #484850; }
    body .btm-list ul {
      width: 100%;
      height: 100%;
      display: flex; }
      body .btm-list ul li {
        cursor: pointer;
        box-sizing: border-box;
        width: 20%;
        height: 100%;
        border-top: 0.20833rem solid #484850;
        text-align: center; }
        body .btm-list ul li span {
          display: block; }
        body .btm-list ul li span:nth-of-type(2) {
          font-size: 1.08333rem; }
      body .btm-list ul .active {
        border-top: 0.20833rem solid #e43669; }
        body .btm-list ul .active span {
          color: #e43669; }
      body .btm-list ul .iconfont {
        color: #fff;
        font-size: 2.08333rem; }