
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1467619014'); /* IE9*/
  src: url('iconfont.eot?t=1467619014#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1467619014') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1467619014') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1467619014#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-wxbdingwei:before { content: "\e624"; }
.icon-iconfontshouji:before { content: "\e62a"; }
.icon-my:before { content: "\e78b"; }
.icon-cart:before { content: "\e6af"; }
.icon-delete:before { content: "\e6b4"; }
.icon-goodsfill:before { content: "\e778"; }
.icon-messagefill:before { content: "\e779"; }
.icon-wancomfill:before { content: "\e618"; }
.icon-tongqinshezhi:before { content: "\e66c"; }
