<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<script type="text/javascript" src="../js/angular.js"></script>
	<title>angular</title>
	<style type="text/css">
	li{
		padding: 10px;
	}
	p{

	}
	</style>
</head>
<body>
	<!-- ng-init 表示 初始化 AngularJS 应用程序变量。
 -->
	<b>Angular 模式</b>
	<ul ng-app ng-init="name='xuyongfeng';xing='zuo'">
		<li>姓:<input type="text" ng-model="xing"></li>
		<li>名:<input type="text" ng-model="ming"></li>
		<li><button id="angularBtn">显示名字</button></li>
		<!-- <li><p ng-bind="xing +' '+ming"></p></li> -->
		<li><p>{{xing +' '+ming}}   </p></li>
		<li><p>{{xing}} {{ming}} </p></li>
		<li>IT猿:<input type="text" ng-model="name"></li>
		<li><span>hello: {{name}}</span></li>
	</ul>

</body>
</html>