'utf-8'
* {
  margin: 0;
  padding: 0; }

body {
  background: #f7f7f7;
  margin: 0; }

a {
  text-decoration: none;
  color: #fff; }

ol, ul {
  list-style: none; }

header {
  width: 100%;
  height: .9rem;
  box-sizing: border-box;
  display: flex;
  background: #e4366b;
  padding: 0 .2rem;
  justify-content: space-between;
  align-items: center; }
  header .back {
    font-family: 'iconfont';
    font-size: .38rem;
    color: #670d27; }
  header span {
    font-size: .38rem;
    color: #fff;
    font-family: 'Microsoft Yahei'; }
  header .regist {
    border: .01rem solid #fff;
    border-radius: .05rem;
    font-size: .22rem;
    height: .54rem;
    padding: .16rem .3rem;
    box-sizing: border-box;
    color: #fff;
    background: -webkit-linear-gradient(top, #fcb1c6, #e4366b); }

section {
  height: 9.32rem;
  width: 100%; }
  section .content {
    height: 9.32rem;
    width: 100%;
    background: #f7f7f7;
    box-sizing: border-box;
    padding: 0 .4rem; }
    section .content .oinput {
      width: 100%;
      line-height: .77rem;
      font-size: .32em;
      text-indent: .26rem;
      border: 0;
      border-radius: .1rem;
      box-shadow: 2px 2px 2px 2px rgba(249, 247, 232, 0.6), -1px -1px 1px 1px #ccc;
      margin-top: .61rem; }
    section .content .checkspan {
      display: block;
      margin: 0;
      padding: 0;
      height: .55rem;
      font-size: .24rem;
      line-height: .55rem;
      width: 100%;
      visibility: hidden;
      color: red; }
    section .content input:nth-child(2) {
      margin-top: .55rem; }
    section .content .rembpwd {
      margin-bottom: .28rem;
      height: .66rem;
      width: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-left: .18rem;
      font-size: .24rem; }
      section .content .rembpwd .remberp {
        display: flex;
        align-items: center;
        color: #777;
        margin-right: .27rem; }
        section .content .rembpwd .remberp input {
          width: .31rem;
          height: .31rem;
          margin-right: .14rem;
          background: orange; }
      section .content .rembpwd .forgetp a {
        text-decoration: underline;
        color: #999; }
    section .content .login {
      height: .9rem;
      width: 100%;
      border-radius: .1rem;
      background: -webkit-linear-gradient(top, rgba(247, 94, 138, 0.9), rgba(215, 17, 79, 0.8)); }
      section .content .login a {
        display: block;
        line-height: .9rem;
        width: 100%;
        font-size: .32rem;
        font-family: 'Microsoft Yahei';
        color: #fff;
        font-weight: 700;
        text-align: center; }

footer {
  width: 100%;
  height: .9rem;
  margin: 0;
  position: absolute;
  bottom: 0; }
  footer .footerlist {
    padding: 0;
    margin: 0;
    height: .9rem;
    width: 100%;
    display: flex;
    font-size: .1rem; }
    footer .footerlist li {
      width: 20%;
      background: #484850;
      height: .9rem;
      border-top: .05rem solid #484850;
      color: #fff; }
      footer .footerlist li p {
        font-family: 'iconfont';
        height: .63rem;
        width: 100%;
        margin: 0;
        font-size: .48rem;
        text-align: center; }
      footer .footerlist li b {
        display: block;
        height: .22rem;
        width: 100%;
        font-size: .24rem;
        text-align: center;
        font-weight: 100; }
    footer .footerlist li:hover {
      border-top-color: pink; }

@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?t=1466772499");
  /* IE9*/
  src: url("iconfont.eot?t=1466772499#iefix") format("embedded-opentype"), url("iconfont.woff?t=1466772499") format("woff"), url("iconfont.ttf?t=1466772499") format("truetype"), url("iconfont.svg?t=1466772499#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-iconfontcolor14:before {
  content: "\e67b"; }

.icon-30:before {
  content: "\e66c"; }

.icon-shopper:before {
  content: "\e617"; }

.icon-fenlei:before {
  content: "\e631"; }

.icon-shouye:before {
  content: "\e608"; }

.icon-gengduo:before {
  content: "\e635"; }
