'utf-8'
* {
  margin: 0;
  padding: 0; }

body {
  background: #f7f7f7;
  margin: 0; }

a {
  text-decoration: none;
  color: #fff; }

ol, ul {
  list-style: none; }

header {
  width: 100%;
  height: .9rem;
  box-sizing: border-box;
  display: flex;
  background: #e4366b;
  position: relative; }
  header a {
    display: block;
    font-size: .38rem;
    color: #670d27;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%); }
  header p {
    margin: 0;
    height: .9rem;
    font-size: .38rem;
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: .9rem;
    font-family: 'Microsoft Yahei'; }

section {
  height: 10rem;
  width: 100%;
  position: relative; }
  section .content {
    height: 10rem;
    width: 100%;
    background: #f7f7f7; }
    section .content .orderinfo {
      box-sizing: border-box;
      padding: .4rem .32rem 0 .32rem;
      width: 100%; }
      section .content .orderinfo #orderlist {
        width: 100%;
        border-radius: .2rem;
        border: .01rem solid #ccc;
        margin: 0;
        padding: 0;
        overflow: hidden; }
        section .content .orderinfo #orderlist li {
          background-color: #fafafa;
          font-size: .34rem;
          font-weight: 700;
          box-sizing: border-box;
          padding: 0 .44rem 0 .33rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 25%;
          border-bottom: .02rem solid #ccc;
          font-weight: 600; }
        section .content .orderinfo #orderlist li:last-child {
          border: 0; }

#footer {
  width: 100%;
  height: .9rem;
  margin: 0;
  position: absolute;
  bottom: 0; }
  #footer #footerlist {
    padding: 0;
    margin: 0;
    height: .9rem;
    width: 100%;
    display: flex;
    font-size: .1rem; }
    #footer #footerlist li {
      width: 20%;
      background: #484850;
      height: .9rem;
      border-top: .05rem solid #484850;
      color: #fff; }
      #footer #footerlist li p {
        font-family: 'iconfont';
        height: .63rem;
        width: 100%;
        margin: 0;
        font-size: .48rem;
        text-align: center; }
      #footer #footerlist li b {
        display: block;
        height: .22rem;
        width: 100%;
        font-size: .24rem;
        text-align: center;
        font-weight: 100; }
    #footer #footerlist li:hover {
      color: #e4366b; }

@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?t=1466772499");
  /* IE9*/
  src: url("iconfont.eot?t=1466772499#iefix") format("embedded-opentype"), url("iconfont.woff?t=1466772499") format("woff"), url("iconfont.ttf?t=1466772499") format("truetype"), url("iconfont.svg?t=1466772499#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-iconfontcolor14:before {
  content: "\e67b"; }

.icon-30:before {
  content: "\e66c"; }

.icon-shopper:before {
  content: "\e617"; }

.icon-fenlei:before {
  content: "\e631"; }

.icon-shouye:before {
  content: "\e608"; }

.icon-gengduo:before {
  content: "\e635"; }
